body{
margin: 0;
padding: 0;
}
header{
display: flex;
width:1200px;
justify-content: space-between;
align-items: center;
padding: 25px 0;
margin:0 auto;
}
header .logo{
font-size: 24px;
font-weight: bold;
font-family: 'DM Sans', sans-serif;
}

header nav a{
font-family: "Poppins", sans-serif;
font-weight: regular;
font-size: 16px;
color: #222222;
margin-right: 30px;
text-decoration: none;

}
a:hover{
box-shadow: 0 8px 30px rgba(86, 85, 85, 0.3);
   transform: translateY(-5px);
   transition: all 0.3s ease;
   border-radius: 5px;
   color: #FD8D3A;

}
header .auth a{
 font-weight: bold;
font-family: 'DM Sans', sans-serif; 
font-size: 16px; 
margin-right: 30px; 
color: #FD8D3A;
text-decoration: none;
}
header .auth button{
 font-weight: bold;
font-family: 'DM Sans', sans-serif; 
font-size: 16px; 
margin-right: 30px; 
background-color: #FD8D3A;
color:white;
padding: 10px 30px;
border:none;
border-radius: 5px;
cursor: pointer;
}
.auth button:hover{
   box-shadow: 0 8px 30px rgba(230, 40, 40, 0.2);
   transform: translateY(-5px);
   transition: all 0.3s ease;
   border-radius: 5px;
   background-color: #ff6f42;
}
.hero{
   display: flex;
   width: 1200px;
justify-content: space-between;
align-items: center;
padding: 25px 0;
margin:0 auto;
}
.content_left h1{
font-size: 64px;
font-weight: bold;
font-family: 'DM Sans', sans-serif;
}
span{
color: #FD8D3A;
}
p{
font-family: "Poppins", sans-serif;
background-color:transparent;
border-radius: 5px;
font-size: 18px;
color: #8c8b8b; 
margin-bottom: 80px;

}
.discover{
font-family: "Poppins", sans-serif;
padding: 15px 22px;
border: 2px solid #ff6f42;
background-color:transparent;
border-radius: 5px;
font-size: 16px; 
color: #FD8D3A;
cursor: pointer;
}
.discover:hover{
   box-shadow: 0 8px 30px rgba(213, 182, 182, 0.2);
   transform: translateY(-5px);
   transition: all 0.3s ease;
   border-radius: 5px;
   background-color: #ee885f;
   color: white;
   border: none;
   transform: scale(0.5) translate(-100%, -100%);
}
   
.content_right{
position: relative;
width: 500px;
height: 500px;
}
.traveler{
   position: absolute;
    bottom: 20px;
    top:10px;
    right: 40px;
    width: 100%;
   }
.travel {
    position: absolute;
    display: flex;
    background: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    z-index: 10;
      height: 40px;
      align-items: center;
   }
   .travel1:hover, .travel2:hover, .travel3:hover {
   box-shadow: 0 8px 30px rgba(244, 225, 225, 0.3);
   transform: translateX(-5px);
   transition: all 0.3s ease;
   border-radius: 5px;
}

   .travel3 {
    position: absolute;
    display: flex;
    background: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    z-index: 10;
    width: 160px; 
    height: 40px;
      align-items: center;
   }
.travel img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

.travel h4 {
 font-family: "Poppins", sans-serif;
   font-size: 14px;
    margin: 0;
    width: 70px;
    font-weight: 400;
}

.travel p {
   width: 0 50px;
    font-size: 12px;
    margin: 0;
    color: #777;
}

.travel1 {
    top: 100px; right: 450px; 
   }
.travel2 {
    top: 225px; right: 60px; }
.travel3 {
    bottom: 80px; right: 400px; }
    
    .element {
     position: absolute;   
   width: 750px;
     height: 200px; 
     margin-top: 5px;
     right: -90px;
     top: -50px;    
    }

.search{
   display: flex;
   width: 1200px;
justify-content: space-between;
align-items: center;
padding: 25px 0;
margin:0 auto;
}


.search-box{
display: flex;
background-color: #ffffff;
width: 800px;
margin-top: 30px;
margin-bottom: 80px;
margin-left: 140px;
padding: 20px 20px;
justify-content: space-between;   
align-items: center;
border-radius: 8px;
box-shadow: 0 5px 25px rgba(179, 177, 177, 0.4);
}
.search-item{
   width: 20%;
}
.search-item span{
 font-family: poppins, sans-serif;  
 font-size: 16px;
 color: #444444;
   font-weight: bold;
cursor: pointer;
}
.search-item span:hover{
     box-shadow: 0 8px 30px rgba(140, 136, 143, 0.4);
   transform: translateY(-5px);
   transition: all 0.3s ease;
   
}
.search-item p{
   font-family: poppins, sans-serif;  
   font-size: 12px;
   color: #888888;
   margin: 8px 0;
}
.search-box .search-btn{
font-weight: semi-bold;
   font-family: poppins, sans-serif; 
font-size: 16px; 
margin-right: 5px; 
background-color: #FD8D3A;
color:white;
padding: 15px 40px;
border:none;
border-radius: 5px;
cursor: pointer;
text-decoration: none;
}

.about{
 
  width: 100%;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   padding: 80px 0;
background-color: #F7F8FC;
}
.about h2{
   font-family: "poppins" , sans-serif;
   font-size: 36px;
   font-weight: bold;
   text-align: center;
   margin-bottom: 20px;
}
.subtext{
   max-width: 500px;
margin: 10px auto 40px;
font-family: "Poppins", sans-serif;
font-size: 16px;
text-align: center;
}
.features{
   display: flex;
   width: 1200px;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   padding: 30px 0;
background-color: #F7F8FC;
gap: 30px;
position: relative;
}
.feature{
   display: flex;
   width: 1200px;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   padding: 30px 0;
}
.about_features{
   width: 1150px;
   justify-content: center;
   text-align: center;
   margin-left: 350px;

}
.feature-box{
   background-color: #ffffff;
   padding: 30px 20px;
   border-radius: 8px;
   box-shadow: 0 5px 25px rgba(0,0,0,0.1);
   text-align: left;
   width: 30%;}
.feature-box1{
   background-image: url("./images/sig1.png");
}
.feature-box2{
   background-image: url("./images/money1.png");
}
.feature-box3{
   background-image: url("./images/traval1.png");
}

.feature-box:hover{
   box-shadow: 0 8px 30px rgba(0,0,0,0.2);
   transform: translateY(-5px);
   transition: all 0.3s ease;
}
.feature-box h4{
   font-family: "Poppins", sans-serif;
   font-size: 24px;
   font-weight: semi-bold;
   margin: 15px 0;
}
.feature-box p{
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   font-weight: regular;
   margin: 15px 0;
}
.feature-box img{
   padding-bottom: 30px;
}
.about_feature{
      display: flex;
      width: 1200px;
      justify-content: center;
      align-items: center;
  
   }
.planning{
    width: 100%;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   padding: 40px 0 20px;
background-color: #FEFCFB;
}
.planning h2{
   font-family: "poppins" , sans-serif;
   font-size: 36px;
   font-weight: bold;
   text-align: center;
   margin-bottom: 20px;;
}
.planning_cards{
   display: flex;
   width: 1200px;
   justify-content: center;
   gap: 30px;
   margin: 20px auto;
}
.planning_card{
 width: 265px;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 5px 25px rgba(230, 135, 135, 0.3);
      

  background-color: #ffffff;
  object-fit: cover;
 }
 
.planning_card:hover{
   box-shadow: 0 5px 25px rgba(194, 44, 44, 0.4);
   transform: translateY(-5px);
   transition: all 0.3s ease;
}
.card_content{
   padding: 15px;
}
.card_content h3{
   font-size: 28px;
   font-family: "Poppins", sans-serif;
   font-weight: semi-bold;
   margin: 0;
}
.location{
font-size: 14px;
color: #777;
margin-bottom: 10px;
}
.price-row {
display: flex;
justify-content: space-between;
}
.loc-row {
display: flex;
justify-content: space-between;
padding: 0 20px;
margin-bottom:-90px;
}  
.loc-row1 {
display: flex;
justify-content: space-between;
padding: 0 20px;
margin-bottom:-90px;
padding-bottom: 40px;
}  
.old-price {
text-decoration: line-through;
color: #aaa;
margin-right: 10px;
}
p .new-price {
   background-color: #FFE7DB;
border-radius: 8px;
color: ;}
.book-btn {
position: absolute;
margin-top: -80px;
margin-left: 90px;
background: #ff6b2d;
color: #fff;
padding: 5px 10px;
border-radius: 5px;
font-size: 12px;
cursor: pointer;
}
.arrows{
   width: 100%;
background-color: #FEFCFB;
}
.arrow{
   display: flex;
   width: 1200px;
justify-content: center;
align-items: center;
padding: 10px 0 80px;
margin:0 auto;
}

.arrow_l{
   width: 30px;
height: 30px;
align-items: center;
justify-content: center;
font-weight: bold;
display: flex;
color: #999999;
   margin-right: 20px;
   cursor: pointer;
border: 2px solid #9b9898;
border-radius: 25px; 
text-decoration: none;
}
.arrow_r{
   width: 30px;
height: 30px;
align-items: center;
justify-content: center;
font-weight: bold;
display: flex;
color: #ffffff;
   margin-right: 20px;
   cursor: pointer;
border: 2px solid #FD8D3A;
border-radius: 25px; 
text-decoration: none;
background-color: #FD8D3A;
}

.vacation{
    width: 100%;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
background-color: #FEFCFB;
}
.vacation h2{
   font-family: "poppins" , sans-serif;
   font-size: 36px;
   font-weight: bold;
   text-align: center;
   margin-bottom: 20px;;
}
.vacations{
display: flex;
width: 1200px;
margin: 0 auto;
justify-content: center;
align-items: center;
padding: 30px 0;
gap: 40px;
}

.arrow1{
   display: flex;
   width: 1200px;
justify-content: right;
align-items: right;
padding: 25px 0;
margin:0 auto;
}

.vacation_cards{
   display: flex;
   width: 1200px;
   justify-content: center;
   gap: 30px;
   margin: 10px auto;
}
.vacation_card{
 width: 365px;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 5px 25px rgba(244, 113, 113, 0.2);
  background-color: #ffffff;
  object-fit: cover;
  cursor: pointer;
 
}
.vacation_card:hover{
     box-shadow: 0 8px 30px rgba(0,0,0,0.2);
   transform: translateY(-5px);
   transition: all 0.3s ease;
  
}

.card_content{
   padding: 15px;
}
.vacation_card h3{
   font-size: 20px;
   font-family: "Poppins", sans-serif;
   font-weight: semi-bold;
   margin: 0;
}
.vacation_card span{
   font-size: 20px;
   font-family: "Poppins", sans-serif;
   font-weight: bold;
   color: #FD8D3A;
}

.location{
font-size: 14px;
color: #8b8888;
margin-bottom: 10px;
}
.price-row {
display: flex;
justify-content: space-between;
}
.loc-row {
display: flex;
justify-content: space-between;
padding: 0 20px;
margin-bottom:-90px;
}
.loc-row1 {
display: flex;
justify-content: space-between;
padding: 0 20px;
margin-bottom:-90px;
padding-bottom: 40px;
}  
.client{
      width: 100%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      padding: 100px 0 40px;
background-color: #F7F8FC;
}
.client .people{
   display: flex;
   width: 1200px;
   justify-content: center;
   gap: 30px;
   margin: 30px auto;
}
.people-content_left{
   width: 600px;
   margin: 0 auto;   
   justify-content: center;
   align-items: center;
   
}
.people-content_left h1{
font-size: 48px;
font-weight: bold;
font-family: 'DM Sans', sans-serif;
}
.client_arrow{
   display: flex;
margin-bottom: 0;
}
.people-content_right {
position: relative;
width: 600px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: left;
    }
    .people-content_right .people_a{
   
      position: absolute;
      bottom:230px;  
      left: 400px;
    }
.card-bg {
width: 350px;
   height: 130px;
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 20px rgba(104, 98, 98, 0.1);
      margin-left: 40px;
      margin-top: 90px;
   background-color: #F7F8FC; 
   }
    .main-card {
   width: 355px;
      height: 150px;
      background: white;
      padding: 25px;
      border-radius: 12px;
      box-shadow: 0 4px 25px rgba(0,0,0,0.12);
      position: absolute;
      top: 0;
      left: 0;
    }
.profile {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;
    }
    .profile img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      position: absolute;
      top:-10px;  
      left: -10px;
    }
      
    .main-card p {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 35px;
    }
    .card-bg p {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 15px;
    }
    .name {
     font-family: poppins, sans-serif;
      font-weight: 700;
      font-size: 16px;
       padding-bottom: 5px;
    }
    .name1 {
     font-family: poppins, sans-serif;
      font-weight: 700;
      font-size: 16px;
      color:  #626263;
      padding-bottom: 5px;
    }

    .location {
      font-size: 12px;
      font-family: "Poppins", sans-serif;
      font-weight: 400; 
    }
    
    .blogs{
    width: 100%;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   padding: 50px 0 350px;
background-color: #FEFCFB; 
position: relative;
cursor: pointer;

}
.blog-box:hover{
      box-shadow: 0 8px 30px rgba(0,0,0,0.2);
   transform: translateY(-5px);
   transition: all 0.3s ease;
   background-color: #701a59;
   color: white;
   font-weight: 900;

}
   .blogs h2{
       font-family: "poppins" , sans-serif;
   font-size: 36px;
   font-weight: bold;
   text-align: center;
   margin-bottom: 40px;  
   }
   .blog{
  display: flex;
   width: 1200px;
   justify-content: center;
   gap: 40px;
   margin: 20px auto;
   
   }
 .blog-box .blog1{
   font-family: "Poppins", sans-serif;
   font-size: 18px;
   font-weight: 500;
   margin: 15px 0;
 }
   .blog-box p{
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   font-weight: regular;
}

.blog-box{
   height: 388px;
}
.dots {
  text-align: center;
  margin-top: 10px;

}
.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.dot:hover{
     box-shadow: 0 8px 30px rgba(0,0,0,0.2);
   transform: translateY(-5px);
   transition: all 0.3s ease;
   background-color: #FD8D3A;
}
.active {
  opacity: 1;
  
}

footer{
 width: 100%;
 margin: 0 auto;
 justify-content: space-between;
 align-items: center;
 padding-bottom: 70px;
 padding-top: 300px;
 background-color: #F7F8FC;  
position: relative;

}
.main_foots{
 display: flex;
width:1200px;
justify-content: space-between;
align-items: center;
padding: 20px 0;
margin:0 auto;
align-items: first baseline;
cursor: pointer;
gap: 60px;
}
.main_foots .sub_foots{
   font-family: "Poppins", sans-serif;
font-size: 18px;
margin: 15px;

}
.sub_logo{
   display: flex;
flex: 1;
flex-direction: column;
padding: 20px 0;
margin:0 auto;
}
 .social-icons{
   display: flex;
   gap: 20px;

}
.icon{
   width: 40px;
   height: 40px;
   border-radius:50px;
background-color: #FEFCFB;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.icon_1{
   width: 40px;
   height: 40px;
   border-radius:50px;
background-color:#FD8D3A;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.main_foots h3{
   font-size: 24px;
   font-family: "Poppins", sans-serif;
}


.sub_foots ul{
   list-style: none;
   padding: 0;
   line-height: 2;
   font-family: "Poppins", sans-serif;
}
.bottom-bar{
   display: flex;
   width: 1170px;
   height: 130px;
justify-content:space-between;
align-items: center;
margin:0 auto;
font-size: 16px;
font-family: poppins, sans-serif;
border-top: 1px solid #2b2626;

}

.subscribe{
   display: flex;
   width: 1200px;
justify-content: space-between;
align-items: center;
margin:0 auto;
padding: 5px 0;
background-color: #ff6b2d;
border-radius: 12px;
text-align: center;
flex-direction: column;
text-align: baseline;
padding-bottom: 20px;

}
.subscribe_main{
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
position: absolute;
z-index: 2;
top:-240px;
margin: 0 auto;
}
.subscribe_header{
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.subscribe_header .tree{
 margin-bottom: 200px;  align-items: right;
 margin-left: 40px;
 margin-right: -5px;
}
.subscribe_header .ring{
 margin-bottom: -330px;  align-items: left;
 margin-right: -5px;
}
.subscribe_header h3{
font-size: 42px;
font-weight: bold;
font-family: 'DM Sans', sans-serif;
color: white;
margin-bottom: 30px;
margin-right: 90px;
padding-top: -120px;

}

.subscribe-box{
display: flex;
width: 674px;
height: 68px;
justify-content: center;
align-items: center;
background-color: white;
border-radius: 5px;
margin-bottom: 50px;
margin-left: 70px;
}

.subscribe-box input{
   width: 455px;
   padding: 15px 10px;
   border: none;
   border-radius: 5px 0 0 5px;
   font-size: 16px;
   outline: none;
}
.subscribe-box button{
   width: 150px;
   height: 50px;
   padding: 10px 0;
   border: none;
   color: white;
   font-size: 16px;
   border-radius: 0 5px 5px 0;
   cursor: pointer;
   background-color: #ff6b2d;
}
   .subscribe-box img{
cursor: pointer;
}
li:hover{
  box-shadow: 0 8px 40px rgba(225, 150, 150, 0.2);
   transform: translateY(-5px);
   transition: all 0.3s ease;
   background-color: #30b593;
   border-radius: 8px;
}